Repository ROCm/onnxruntime, pull requests merged in 2024-06, with the labels that each got.

#39 Fix for mixed precision run and their input parameters
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.cc
Labels: bug

#38 Fix mixed and input parameters to MIGraphX EP
  onnxruntime/contrib_ops/rocm/fused_conv.cc
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.cc
Labels: bug

#36 [MIGraphX EP] enable compilation and execution on Windows
  cmake/CMakeLists.txt
  cmake/onnxruntime_providers_migraphx.cmake
  onnxruntime/core/providers/migraphx/gpu_data_transfer.cc
  onnxruntime/core/providers/migraphx/migraphx_allocator.cc
  onnxruntime/core/providers/migraphx/migraphx_allocator.h
  onnxruntime/core/providers/migraphx/migraphx_call.cc
  onnxruntime/core/providers/migraphx/migraphx_call.h
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.cc
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.h
  onnxruntime/core/providers/migraphx/migraphx_execution_provider_info.h
  onnxruntime/core/providers/migraphx/migraphx_execution_provider_utils.h
  onnxruntime/core/providers/migraphx/migraphx_inc.h
  onnxruntime/core/providers/migraphx/migraphx_provider_factory.cc
  onnxruntime/core/providers/migraphx/migraphx_provider_factory.h
  onnxruntime/core/providers/migraphx/migraphx_stream_handle.cc
  onnxruntime/core/providers/migraphx/migraphx_stream_handle.h
  onnxruntime/core/providers/shared_library/provider_api.h
  onnxruntime/core/providers/shared_library/provider_bridge_provider.cc
  onnxruntime/core/providers/shared_library/provider_interfaces.h
  onnxruntime/core/session/provider_bridge_ort.cc
  setup.py
  tools/ci_build/build.py
Labels: enhancement, windows

#42 [MIGraphX EP] Add migraphx ep save load compiles (#20643)
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.cc
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.h
  onnxruntime/core/providers/migraphx/migraphx_execution_provider_info.cc
  onnxruntime/core/providers/migraphx/migraphx_execution_provider_info.h
  onnxruntime/core/providers/migraphx/migraphx_provider_factory.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/test/util/default_providers.cc
Labels: enhancement
