Repository ROCm/onnxruntime, pull requests merged in 2025-07, with the labels that each got.

#140 Update linux-migraphx-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-migraphx-ci-pipeline.yml
Labels: Cleanup, Bugfix

#135 Clang Tidy suggestions for the MIGraphX EP allocator classes
  onnxruntime/core/providers/migraphx/migraphx_allocator.cc
  onnxruntime/core/providers/migraphx/migraphx_allocator.h
Labels: Cleanup, Upstream

#142 Clang Tidy suggestions for the MIGraphX execution provider classes
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.cc
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.h
Labels: Cleanup, Upstream

#146 Simplify MIGraphX Execution Provider CMake
  cmake/onnxruntime_providers_migraphx.cmake
  cmake/onnxruntime_unittests.cmake
Labels: Upstream

#150 Use MIGraphX ONNXRT DLL location to search for MIGX and HIP runtime DLLs
  cmake/onnxruntime_providers_migraphx.cmake
  onnxruntime/core/providers/migraphx/migraphx_provider_factory.cc
Labels: Upstream

#151 Reduce number of log messages
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.cc
Labels: Upstream

#154 implement `cpplint` suggestions
  onnxruntime/core/providers/migraphx/gpu_data_transfer.h
  onnxruntime/core/providers/migraphx/migraphx_allocator.cc
  onnxruntime/core/providers/migraphx/migraphx_allocator.h
  onnxruntime/core/providers/migraphx/migraphx_call.cc
  onnxruntime/core/providers/migraphx/migraphx_call.h
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.cc
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.h
  onnxruntime/core/providers/migraphx/migraphx_execution_provider_info.cc
  onnxruntime/core/providers/migraphx/migraphx_execution_provider_utils.h
  onnxruntime/core/providers/migraphx/migraphx_provider_factory.cc
  onnxruntime/core/providers/migraphx/migraphx_provider_factory.h
  onnxruntime/core/providers/migraphx/migraphx_stream_handle.cc
  onnxruntime/core/providers/migraphx/migraphx_stream_handle.h
Labels: Upstream
