Repository ROCm/onnxruntime, pull requests merged in 2025-02, with the labels that each got.

#90 Declaration of 'param_shapes' hides previous local declaration
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.cc
Labels: Cleanup

#89 Use `constexpr auto` for environment variable name literals
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.cc
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.h
Labels: Cleanup

#84 Check `migraphx_onnx_options_set_external_data_path` exists
  cmake/CMakeLists.txt
  cmake/onnxruntime_providers_migraphx.cmake
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.cc
Labels: bug, enhancement

#95 Add GroupNorm contrib operator
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.cc
Labels: enhancement

#96 Turn off save/load as defaults and set exhaustive tune to default fal…
  onnxruntime/python/onnxruntime_pybind_state.cc
Labels: bug

#98 Add rotaryembedding contrib op check
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.cc
Labels: enhancement
