Repository ROCm/onnxruntime, pull requests merged in 2025-04, with the labels that each got.

#107 rocm-version string update (no build id) handling
  cmake/CMakeLists.txt
Labels: Cleanup

#110 Fix pybind input for calibration table loading
  onnxruntime/core/providers/migraphx/migraphx_execution_provider_utils.h
  onnxruntime/python/onnxruntime_pybind_state.cc
Labels: bug

#112 Adding hash input names and shapes to get unique graphx hash
  onnxruntime/core/providers/migraphx/migraphx_execution_provider_utils.h
Labels: bug, Cleanup

#111 Promote fixes from 6.4 to 6.5 branches and testing
  cmake/external/composable_kernel.cmake
  cmake/patches/composable_kernel/Fix_Clang20_error.patch
  cmake/patches/composable_kernel/Fix_Clang20_gfx12.patch
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.cc
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.h
  onnxruntime/core/providers/migraphx/migraphx_execution_provider_info.cc
  onnxruntime/core/providers/migraphx/migraphx_execution_provider_info.h
  onnxruntime/core/providers/migraphx/migraphx_execution_provider_utils.h
  onnxruntime/core/providers/migraphx/migraphx_inc.h
  onnxruntime/core/providers/migraphx/migraphx_provider_factory.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/test/util/default_providers.cc
Labels: Cleanup
