Repository ROCm/onnxruntime, pull requests merged in 2025-05, with the labels that each got.

#118 Skipping newly added MHA test as this isn't supported by ROCm EP like…
  onnxruntime/test/contrib_ops/multihead_attention_op_test.cc
Labels: bug

#119 Add support for QuickGelu in MIGraphX EP
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.cc
Labels: enhancement

#120 Add multihead attention support in MIGraphX EP
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.cc
Labels: enhancement

#121 Add null check for unique graphx hash
  onnxruntime/core/providers/migraphx/migraphx_execution_provider_utils.h
Labels: Bugfix
