Repository ROCm/onnxruntime, pull requests merged in 2025-06, with the labels that each got.

#117 Add in BF16 datatype and quantization support to MIGraphX EP
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.cc
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.h
  onnxruntime/core/providers/migraphx/migraphx_execution_provider_info.cc
  onnxruntime/core/providers/migraphx/migraphx_execution_provider_info.h
  onnxruntime/core/providers/migraphx/migraphx_provider_factory.cc
  onnxruntime/python/onnxruntime_pybind_ortvalue.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/test/util/default_providers.cc
Labels: enhancement

#126 Update build args to include rocm_gfx_arch input for ROCM/MIGraphX EP…
  tools/ci_build/build.py
  tools/ci_build/build_args.py
Labels: Bugfix, Upstream

#139 CK Fix for build failure seen with HIP 7.0 breaking changes
  cmake/deps.txt
Labels: Roadmap, Upstream
